Repository ajstars1/0unveiled-host: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=3, prettier --write

feat: enhance database package with initial setup script, new commands, and comprehensive schema updates
  packages/database/README.md
  packages/database/package.json
  packages/database/src/migrations.ts
  packages/database/src/schema.ts
  packages/database/src/setup.ts
Due: eslint --max-warnings=3, prettier --write

refactor: simplify usersRelations by removing unused 'one' relation
  packages/database/src/schema.ts
Due: eslint --max-warnings=3, prettier --write

feat: implement user fetching and display in HomePage component with enhanced UI elements
  apps/web/src/app/api/users/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/accordion.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/checkbox.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/form.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/popover.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/switch.tsx
  apps/web/src/components/ui/table.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/components/ui/toast.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/tsconfig.tsbuildinfo
  packages/ui/src/components/calendar.tsx
  packages/ui/src/components/carousel.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/input-otp.tsx
  packages/ui/src/components/pagination.tsx
  packages/ui/src/components/sonner.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/index.ts
  packages/ui/tsup.config.ts
Due: eslint --max-warnings=3, prettier --write

chore: update dependencies in bun.lock, add dotenv configuration to database and supabase packages, and adjust import paths in sidebar component
  packages/database/drizzle.config.ts
  packages/database/src/index.ts
  packages/lib/src/supabase/client.ts
  packages/lib/src/supabase/server.ts
  packages/ui/src/components/sidebar.tsx
Due: eslint --max-warnings=3, prettier --write

chore: update react and next-themes versions in package.json and bun.lock; adjust import paths in UI components for consistency
  apps/web/package.json
  apps/web/src/app/page.tsx
  bun.lock
  packages/ui/package.json
  packages/ui/src/components/calendar.tsx
  packages/ui/src/components/carousel.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/pagination.tsx
  packages/ui/src/components/sidebar.tsx
Due: eslint --max-warnings=3, prettier --write

feat: env files updated to codebase
  apps/web/.env
  packages/database/src/.env
  packages/lib/.env
Due: none

refactor: update shared styles in tailwind configuration with new color tokens, gradients, and accessibility features
  packages/tailwind-config/shared-styles.css
Due: prettier --write

env
  .env
  .gitignore
  apps/api/.env
  apps/github-analyzer-service/.env
Due: none

chore: update .gitignore to include venv and __pycache__ directories
  .gitignore
Due: none

chore: update bun.lock with new dependencies and version upgrades, including react-hook-form, react-icons, reactflow, recharts, and zod; also update various package versions for improved compatibility
  bun.lock
Due: none

chore: add Octokit dependency and update GitHub integration logic; refactor GitHub actions to utilize App Installation Auth for improved repository access and management
  apps/web/package.json
  apps/web/src/actions/github.ts
  apps/web/src/app/analyze/page.tsx
  bun.lock
Due: eslint --max-warnings=3, prettier --write

refactor: update user navigation component for improved styling and structure; adjust button sizes and add inset properties to dropdown items for better alignment
  apps/web/src/components/global/navbar/user-nav.tsx
  apps/web/src/components/ui/accordion.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/checkbox.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/popover.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/switch.tsx
  apps/web/src/components/ui/table.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/components/ui/toast.tsx
  apps/web/src/components/ui/tooltip.tsx
Due: eslint --max-warnings=3, prettier --write

chore: update dependencies in bun.lock and package.json; add new packages including @hookform/error-message, @radix-ui/react-icons, and html-react-parser for enhanced functionality and compatibility
  .gemini/GEMINI.md
  apps/web/package.json
  apps/web/src/app/(main)/(profile)/profile/edit/_components/aiform.tsx
  apps/web/src/app/(main)/(profile)/profiles/page.tsx
  apps/web/src/app/(main)/(project)/project/[id]/_components/listAppliedUsers.tsx
  apps/web/src/app/(main)/(project)/project/[id]/page.tsx
  apps/web/src/app/(main)/(project)/project/create/createForm.tsx
  apps/web/src/app/(main)/(project)/project/create/page.tsx
  apps/web/src/app/(main)/(project)/projects/_components/ProjectCard.tsx
  apps/web/src/app/(main)/(project)/projects/page.tsx
  apps/web/src/components/dashboard/calendar/calendar-view.tsx
  apps/web/src/components/dashboard/calendar/index.tsx
  apps/web/src/components/dashboard/my-applications-card.tsx
  apps/web/src/components/dashboard/my-projects-card.tsx
  apps/web/src/components/dashboard/notification-settings.tsx
  apps/web/src/components/dashboard/notifications-card.tsx
  apps/web/src/components/dashboard/project-overview.tsx
  apps/web/src/components/global/navbar/Navbar.tsx
  apps/web/src/components/global/rich-text-editor/extensions.ts
  apps/web/src/components/global/rich-text-editor/index.tsx
  apps/web/src/components/global/rich-text-editor/slash-command.tsx
  apps/web/src/components/profile/ai/experience-education-form.tsx
  apps/web/src/components/profile/ai/personal-info-form.tsx
  apps/web/src/components/profile/ai/portfolio-form.tsx
  apps/web/src/components/profile/portfolio-card.tsx
  apps/web/src/components/project/edit-project-form.tsx
  apps/web/src/components/project/project-actions-client.tsx
  apps/web/src/components/project/workspace/add-task-dialog.tsx
  apps/web/src/components/project/workspace/kanban-board.tsx
  apps/web/src/components/project/workspace/task-details-dialog.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/components/ui/drawer.tsx
  apps/web/src/data/projects.ts
  bun.lock
  packages/ui/tsup.config.ts
Due: eslint --max-warnings=3, prettier --write

refactor: update Supabase client imports across the application; replace old import paths with new aliases for improved consistency and maintainability
  apps/web/README.md
  apps/web/src/actions/auth.ts
  apps/web/src/actions/github.ts
  apps/web/src/actions/portfolioActions.ts
  apps/web/src/actions/settings.ts
  apps/web/src/app/(auth)/onboarding/page.tsx
  apps/web/src/app/(auth)/register/page.tsx
  apps/web/src/app/(main)/(project)/project/[id]/page.tsx
  apps/web/src/app/(main)/(project)/project/create/page.tsx
  apps/web/src/app/(main)/layout.tsx
  apps/web/src/app/auth/callback/route.ts
  apps/web/src/components/global/navbar/user-nav.tsx
  apps/web/src/components/landingv2/FloatingNav.tsx
  apps/web/src/components/landingv2/Header.tsx
  apps/web/src/data/projects.ts
  apps/web/src/hooks/authentication/index.ts
  apps/web/src/lib/supabase/client.ts
  apps/web/src/lib/supabase/server.ts
  bun.lock
  packages/lib/src/supabase/index.ts
Due: eslint --max-warnings=3, prettier --write

feat: enhance AnalyzePage buttons with outline variant and small size for improved UI consistency and accessibility
  apps/web/src/app/analyze/page.tsx
Due: eslint --max-warnings=3, prettier --write

refactor: update profile page component for improved code clarity and UI consistency; replace role enum usage, enhance input handling, and adjust button properties for better alignment
  apps/web/src/app/(main)/(profile)/profiles/page.tsx
Due: eslint --max-warnings=3, prettier --write

refactor
  apps/web/src/components/benchmark/benchmark-results-dialog.tsx
  apps/web/src/components/global/navbar/user-nav.tsx
  apps/web/src/components/profile/portfolio-card.tsx
  apps/web/src/components/project/workspace/add-task-dialog.tsx
  apps/web/src/components/project/workspace/kanban-board.tsx
  apps/web/src/components/project/workspace/task-details-dialog.tsx
  apps/web/src/components/theme/index.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/data/projects.ts
  bun.lock
Due: eslint --max-warnings=3, prettier --write

refactor
  apps/web/src/app/(main)/(project)/project/[id]/_components/application-status-badge.tsx
  apps/web/src/app/(main)/(project)/project/[id]/_components/listAppliedUsers.tsx
  apps/web/src/app/(main)/(project)/project/[id]/loading.tsx
  apps/web/src/app/(main)/(project)/project/[id]/page.tsx
  apps/web/src/app/(main)/(project)/project/create/createForm.tsx
  apps/web/src/app/(main)/(project)/project/create/loading.tsx
  apps/web/src/app/(main)/(project)/project/create/page.tsx
  apps/web/src/app/(main)/(project)/projects/_components/ProjectCard.tsx
  apps/web/src/app/(main)/(project)/projects/_components/ProjectCardSkeleton.tsx
  apps/web/src/app/(main)/(project)/projects/_components/ProjectsClientPage.tsx
  apps/web/src/app/(main)/(project)/projects/loading.tsx
  apps/web/src/app/(main)/(project)/projects/page.tsx
Due: eslint --max-warnings=3, prettier --write

refactor: clean up GEMINI.md by removing outdated information and ensuring consistent formatting
  .gemini/GEMINI.md
Due: prettier --write

feat: Implement repository analysis components and hooks
  apps/github-analyzer-service/package.json
  apps/web/src/actions/analyze.ts
  apps/web/src/app/analyze/page-new.tsx
  apps/web/src/app/analyze/page.tsx
  apps/web/src/app/api/github/supabase/analyze/[userId]/[owner]/[repo]/route.ts
  apps/web/src/app/api/github/supabase/repositories/[userId]/route.ts
  apps/web/src/components/analyze/AnalyzeContainer.tsx
  apps/web/src/components/analyze/BulkAnalysisDisplay.tsx
  apps/web/src/components/analyze/BulkScanStatus.tsx
  apps/web/src/components/analyze/ErrorDisplay.tsx
  apps/web/src/components/analyze/IndividualAnalysisDisplay.tsx
  apps/web/src/components/analyze/RepositoryCard.tsx
  apps/web/src/components/analyze/RepositoryList.tsx
  apps/web/src/components/analyze/UserAuth.tsx
  apps/web/src/components/analyze/index.ts
  apps/web/src/hooks/analyze/index.ts
  apps/web/src/hooks/analyze/useAnalysisState.ts
  apps/web/src/hooks/analyze/useBulkAnalysisLogic.ts
  apps/web/src/hooks/analyze/useRepositories.ts
  apps/web/src/lib/analyze-utils.ts
  apps/web/src/lib/generateOverallInsights.ts
  apps/web/src/types/analyze.ts
  bun.lock
  package.json
  start-backend.sh
  turbo.json
Due: eslint --max-warnings=3, prettier --write

feat: Add full_name safety checks in analyze actions and bulk analysis logic
  apps/web/src/actions/analyze.ts
  apps/web/src/components/analyze/AnalyzeContainer.tsx
  apps/web/src/hooks/analyze/useBulkAnalysisLogic.ts
Due: eslint --max-warnings=3, prettier --write

fix: Update package.json and bun.lock to include virtual environment activation for scripts and upgrade dependencies
  apps/github-analyzer-service/package.json
  bun.lock
Due: prettier --write

feat: Add GitHub App authentication and integrate analyzer service for repository analysis
  apps/web/.env
  apps/web/src/actions/analyze.ts
Due: eslint --max-warnings=3, prettier --write

fix: Comment out ThemeProvider in layout for cleaner structure
  apps/web/src/app/layout.tsx
Due: eslint --max-warnings=3, prettier --write

Add initial journal entry for PostgreSQL dialect version 7
  packages/database/.env
  packages/database/drizzle-dev.config.ts
  packages/database/drizzle-prod.config.ts
  packages/database/drizzle.config.ts
  packages/database/drizzle/20250807160004_mighty_living_tribunal.sql
  packages/database/drizzle/meta/20250807160004_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/package.json
  packages/database/src/.env
  packages/database/src/schema.ts
Due: eslint --max-warnings=3, prettier --write

feat: Add safety check script for db:push:prod command to prevent data loss
  packages/database/package.json
  packages/database/scripts/safety-check.js
Due: eslint --max-warnings=3, prettier --write

feat: we are scared shitless
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/leaderboard.ts
  apps/api/src/scripts/run-leaderboard-update.ts
  apps/api/src/services/leaderboard-service.ts
  apps/web/src/app/(main)/leaderboard/page.tsx
  apps/web/src/components/leaderboard/leaderboard-client.tsx
  apps/web/src/components/leaderboard/leaderboard-filters.tsx
  apps/web/src/components/leaderboard/leaderboard-table.tsx
  bun.lock
  package.json
  packages/database/.env
  packages/database/drizzle.config.ts
  packages/database/drizzle/0001_romantic_la_nuit.sql
  packages/database/drizzle/meta/0001_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/package.json
  packages/database/src/schema.ts
  turbo.json
Due: eslint --max-warnings=3, prettier --write

feat: lesgo
  packages/database/.env
  packages/database/drizzle/meta/_journal.json
  packages/database/package.json
Due: prettier --write

feat: dont ask me to push to prod again
  bun.lock
  package.json
  packages/database/drizzle/0001_romantic_la_nuit.sql
  packages/database/drizzle/20250807195854_peaceful_squirrel_girl.sql
  packages/database/drizzle/meta/20250807195854_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/package.json
Due: prettier --write

feat: Enhance setup scripts and clean commands for cross-platform compatibility
  apps/github-analyzer-service/package.json
  apps/github-analyzer-service/setup.bat
  apps/github-analyzer-service/setup.js
  apps/github-analyzer-service/setup.sh
  bun.lock
  package.json
  packages/database/package.json
Due: eslint --max-warnings=3, prettier --write

Implement feature X to enhance user experience and optimize performance
  bun.lock
Due: none

feat: Remove skills relation from portfolio actions and update related components
  apps/web/src/actions/auth.ts
  apps/web/src/actions/portfolioActions.ts
  apps/web/src/app/(main)/[username]/page.tsx
  apps/web/src/components/profile/ai/portfolio-form.tsx
  apps/web/src/components/profile/portfolio-card.tsx
  apps/web/src/data/user.ts
  apps/web/src/lib/utils.ts
Due: eslint --max-warnings=3, prettier --write

Refactor navigation paths and enhance UI components
  apps/web/src/actions/chat.ts
  apps/web/src/actions/notifications.ts
  apps/web/src/actions/profileActions.ts
  apps/web/src/actions/project.ts
  apps/web/src/actions/projectActions.ts
  apps/web/src/actions/settings.ts
  apps/web/src/actions/tasks.ts
  apps/web/src/app/(auth)/onboarding/page.tsx
  apps/web/src/app/(main)/chat/[channelId]/page.tsx
  apps/web/src/app/(main)/chat/page.tsx
  apps/web/src/app/(main)/connections/_components/connections-client-page.tsx
  apps/web/src/app/(main)/connections/page.tsx
  apps/web/src/app/(main)/notifications/page.tsx
  apps/web/src/app/auth/callback/route.ts
  apps/web/src/app/middleware.ts
  apps/web/src/components/auth/onboarding.tsx
  apps/web/src/components/dashboard/chat/chat-list.tsx
  apps/web/src/components/dashboard/connection-requests-card.tsx
  apps/web/src/components/dashboard/notification-dropdown.tsx
  apps/web/src/components/dashboard/notifications-card.tsx
  apps/web/src/components/dashboard/profile-overview.tsx
  apps/web/src/components/global/navbar/notification-bell.tsx
  apps/web/src/components/global/navbar/user-nav.tsx
  apps/web/src/components/profile/profile-actions.tsx
  apps/web/src/hooks/authentication/index.ts
Due: eslint --max-warnings=3, prettier --write

feat: Implement optimized notification system with caching and performance improvements
  apps/web/src/actions/optimized-notifications.ts
  apps/web/src/app/(main)/layout.tsx
  apps/web/src/app/(main)/notifications/page.tsx
  apps/web/src/app/(main)/page.tsx
  apps/web/src/app/error.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/dashboard/optimized-notification-dropdown.tsx
  apps/web/src/components/global/navbar/optimized-notification-bell.tsx
  apps/web/src/components/landingv2/Header.tsx
  apps/web/src/components/landingv2/OptimizedFloatingNav.tsx
  apps/web/src/hooks/use-notification-mutations.ts
  apps/web/src/hooks/use-notification-performance.ts
  apps/web/src/lib/layout-cache.ts
  apps/web/src/lib/performance-monitor.ts
Due: eslint --max-warnings=3, prettier --write

Refactor code structure for improved readability and maintainability
  apps/web/src/actions/auth.ts
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/(auth)/onboarding/page.tsx
  apps/web/src/app/(auth)/register/page.tsx
  apps/web/src/app/(main)/[username]/page.tsx
  apps/web/src/app/apple-icon.png
  apps/web/src/app/favicon.ico
  apps/web/src/app/icon.png
  apps/web/src/app/icon.svg
  apps/web/src/app/manifest.json
  apps/web/src/app/opengraph-image.tsx
  apps/web/src/app/robots.txt
  apps/web/src/app/sitemap.ts
  apps/web/src/data/user.ts
  apps/web/src/lib/layout-cache.ts
  apps/web/src/public/images/audience/recruiter.jpeg
  apps/web/src/public/images/audience/student.jpeg
  apps/web/src/public/images/features/feature1.png
  apps/web/src/public/images/features/feature2.png
  apps/web/src/public/images/features/feature3.png
  apps/web/src/public/images/features/feature4.png
  apps/web/src/public/images/features/feature5.png
  apps/web/src/public/images/features/feature6.png
  apps/web/src/public/images/hero-image.png
  apps/web/src/public/images/hero-img.jpg
  packages/database/src/index.ts
Due: eslint --max-warnings=3, prettier --write

feat: Reintroduce AnalyzePage component with modular structure for improved analysis flow
  apps/web/src/app/(main)/analyze/page.tsx
  apps/web/src/app/analyze/page.tsx
Due: eslint --max-warnings=3, prettier --write

Path conditions:
  eslint --max-warnings=3: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{html,json,css,scss,md,mdx})
